BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
AllowAllConstructorInitializersOnNextLine: false
BinPackParameters: false
BinPackArguments: false
Cpp11BracedListStyle: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
